@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

:root {
  /* главный фон всей страницы */
  --bg: #efeff2;

  /* твій інспектор: */
  --font-family: var(--font-archivo); /* "Archivo" */
  --second-family: var(--font-konnect); /* "Konnect" */
  --third-family: var(--font-gilroy-medium); /* "Gilroy-Medium" */
  --font3: var(--font-gilroy-semibold);
  --font-gilroy-regular: var(--font-gilroy-regular);

  /* хедер-капсула (твои два цвета) */
  --nav-bg: #f3f4f6; /* фон шапки */
  --nav-text: #aeb0b1; /* цвет текста навигации */
  /* hover */
  --nav-text-hover: #6d6e6f; /* цвет текста навигации при ховере */
  --nav-bg-hover: #3b3b3b;
  /* chosen (активний/обраний) */
  --nav-bg-active: #303030; /* фон активной навигации */
  --nav-text-active: #fbfbfc; /* цвет активного текста навигации */
  /* pill-навигация */
  --nav-pill-bg: #f3f4f6; /* фон капсулы */
  --nav-pill-border: #e1e1e275; /* бордер капсулы */

  --color-title-h1: #303030; /* цвет заголовков h1 */
  --color-here-p: #2626268c; /* цвет заголовков h2 */

  /* CTA (Join Whitelist) */
  --btn-primary-bg: #2d2d2d;
  --btn-primary-bg-hover: #303030;
  --btn-primary-text-hover: #d1d1d2;
  --btn-primary-bg-active: #2d2d2d;
  --btn-primary-text-active: #595959;
  --btn-primary-text: #f7f7f7;
  /* secondary button (Read Docs) */
  --btn-secondary-bg: #e6e8ec;
  --btn-secondary-bg-hover: #f8fbff;
  --btn-secondary-bg-active: #abacaf;
  --btn-secondary-text: #2e2e2e;
  --btn-secondary-text-hover: #2e2e2ebf;
  --btn-secondary-text-active: #2e2e2e;
  --btn-primary-radius: 38px;
}

@theme {
  --breakpoint-xs: 360px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1720px;
  --breakpoint-4xl: 1920px;

  /* Прив’язуємо Tailwind-шорткати до твоїх var() */
  --font-sans: var(--font-family); /* font-sans → Archivo */
  --font-display: var(
    --third-family
  ); /* заголовки → Gilroy-Medium за замовч. */
}

/* База типографики (любой страницы) */
@layer base {
  :root {
    color-scheme: light;
  }

  /* Тело → Konnect */
  body {
    font-family: var(--font-konnect, ui-sans-serif), ui-sans-serif, system-ui,
      sans-serif;
  }

  /* Заголовки → Gilroy (можно менять на Medium/SemiBold классами font-medium/font-semibold) */
  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-gilroy, ui-sans-serif), ui-sans-serif, system-ui,
      sans-serif;
  }
}

/* утилита-обёртка для страниц */
@utility page-shell {
  margin-left: auto;
  margin-right: auto;

  /* mobile base */
  max-width: 360px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 16px;
  padding-bottom: 16px;

  /* tablet ≥768 */
  @media (min-width: 768px) {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  /* desktop ≥1280 */
  @media (min-width: 1280px) {
    max-width: 1280px;
    padding-left: 84px;
    padding-right: 84px;
  }
  /* desktop ≥1920 */
  @media (min-width: 1920px) {
    max-width: 1920px;
    padding-left: 264px;
    padding-right: 264px;
    padding-top: 34px;
    padding-bottom: 34px;
  }
}

/* Утиліти на всі випадки */
@utility font-primary {
  font-family: var(--font-family), ui-sans-serif, system-ui, sans-serif;
}
@utility font-secondary {
  font-family: var(--second-family), ui-sans-serif, system-ui, sans-serif;
}
@utility font-gilroy-m {
  font-family: var(--third-family), ui-sans-serif, system-ui, sans-serif;
}
@utility font-gilroy-sb {
  font-family: var(--font3), ui-sans-serif, system-ui, sans-serif;
}

@utility font-gilroy-r {
  font-family: var(--font-gilroy-regular), ui-sans-serif, system-ui, sans-serif;
}

@layer utilities {
  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBaseline {
    @apply flex items-baseline justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexEvenly {
    @apply flex items-center justify-evenly;
  }

  .flexAround {
    @apply flex items-center justify-around;
  }

  .flexStart {
    @apply flex items-center justify-start;
  }

  .itemStart {
    @apply flex justify-center items-start;
  }

  .flexEnd {
    @apply flex items-center justify-end;
  }
}
